.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;

  .header-title {
    color: var(--header-font-color);
    font-size: 2.5rem;
  }

  ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 1rem;
    color: var(--text-font-color);
  }
  li {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .cart-link {
    position: relative;
    .item-counter {
      color: var(--main-background);
      background-color: var(--header-accent-color);
      text-align: center;
      min-height: 16px;
      min-width: 16px;
      border-radius: 100%;

      position: absolute;
      right: -5px;
      top: -5px;
      padding: 1px;
    }
  }

}