.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;

  .header-title {
    color: var(--header-font-color);
    font-size: 2.5rem;
  }

  ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 1rem;
    color: var(--text-font-color);
  }
  li {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .cart-link > a {
    position: relative;
    .item-counter {
      color: var(--main-background);
      background-color: var(--header-accent-color);
      text-align: center;
      min-height: 16px;
      min-width: 16px;
      border-radius: 100%;

      position: absolute;
      right: -5px;
      top: -5px;
      padding: 1px;
    }
  }
}

.mobile-menu-container {
  display: none;
}

@media (max-width: 801px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-container {
    display: block;
  }

  .mobile-menu {
    position: absolute;
    z-index: 1;
    width: auto;
    backdrop-filter: blur(75px) brightness(75%);
    top: 0;
    left: 0;
    border: 2px solid var(--header-font-color);
    box-sizing: border-box;
    padding: 25px;
    line-height: 2;
    margin: 25px;

    .hidden {
      display: none;
    }

    .links {
      display: flex;
      height: 50%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      a {
        text-align: center;
        font-size: 2rem;
      }
    }
  }
}
