@import url('./assets/fonts/kulim-park-font.css');
@import url('./assets/fonts/concert-one-font.css');

/* Default branding of CityCube is 'dark' */
:root {
  --main-background: hsl(234, 6%, 17%);
  --header-font-color: hsl(196, 85%, 80%);
  --header-font-dark: hsl(196, 85%, 50%);

  --header-accent-color: hsl(30, 85%, 80%); 
  --header-accent-dark: hsl(30, 85%, 50%);
  --text-color: hsl(234, 10%, 95%);  
  
  --quick-time: .25s;
  --med-time: .5s;
  --slow-time: .75s;
}
/* Light mode can still apply if user requests */
@media (prefers-color-scheme: light) {

}
html {
  font-family: 'Kulim Park';
  background-color: var(--main-background);
  color: var(--text-color);
}

.heading, .subheading {
  font-family: 'Concert One';
}
