.image-and-desc-ele {
  display: flex;
  max-width: 1000px;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 5px 0px var(--header-font-color);
  margin: 0rem 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  & > * {
    flex: 1;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  figure {
    height: 100%;
    width: 100%;
    margin: 0;
    img {
      border-radius: var(--border-radius);
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  @media screen and (max-width: 801px) {
    /* flex for items: column */
  }
}
